### 다트 게임은 다트판에 다트를 세 차례 던져 그 점수의 합계로 실력을 겨루는 게임


1. 다트 게임은 총 3번의 기회로 구성된다.
2. 각 기회마다 얻을 수 있는 점수는 0점에서 10점까지이다.
3. 점수와 함께 Single(S), Double(D), Triple(T) 영역이 존재하고 각 영역 당첨 시 점수에서 1제곱, 2제곱, 3제곱 (점수1 , 점수2 , 점수3 )으로 계산된다.
4. 옵션으로 스타상(*) , 아차상(#)이 존재하며 스타상(*) 당첨 시 해당 점수와 바로 전에 얻은 점수를 각 2배로 만든다. 아차상(#) 당첨 시 해당 점수는 마이너스된다.
5. 스타상(*)은 첫 번째 기회에서도 나올 수 있다. 이 경우 첫 번째 스타상(*)의 점수만 2배가 된다. (예제 4번 참고)
6. 스타상(*)의 효과는 다른 스타상(*)의 효과와 중첩될 수 있다. 이 경우 중첩된 스타상(*) 점수는 4배가 된다. (예제 4번 참고)
7. 스타상(*)의 효과는 아차상(#)의 효과와 중첩될 수 있다. 이 경우 중첩된 아차상(#)의 점수는 -2배가 된다. (예제 5번 참고)
8. Single(S), Double(D), Triple(T)은 점수마다 하나씩 존재한다.
9. 스타상(*), 아차상(#)은 점수마다 둘 중 하나만 존재할 수 있으며, 존재하지 않을 수도 있다.
<hr><hr>
- 입력형식 => 점수|보너스|[옵션] 으로 이루어진 문자열 3세트
- 예) 1S2D*3T
    - 점수는 0에서 10사이의 정수
    - 보너스는 SDT중 하나
    - 옵션은 * 이나 # 중 하나이며 없을수동 ㅣㅆ음
    
- 기회는 총 3번

In [78]:
def solution(dartResult):
    answer = 0
    temp = []
    n=''
    for i in dartResult:
        if i.isdigit():
            n += i
        if i.isalpha():
            if i=='S':
                temp.append(int(n))
                n=''
            if i=='D':
                temp.append(int(n)**2)
                n=''
            if i=='T':            
                temp.append(int(n)**3)
                n=''
        if i == '#':
            temp[-1] = temp[-1] * (-1)
        if i =='*':
            if len(temp[-2:]) < 2:
                temp[-1] = temp[-1] *2
            else:
                temp[-1] = temp[-1] *2
                temp[-2] = temp[-2] *2



    return sum(temp)

In [8]:
import re

In [10]:
a = '1S2D*3T'
p = re.compile('[0-9]')

In [11]:
s = p.findall(a)

In [12]:
s

['1', '2', '3']

In [22]:
temp = [1,2]
temp[-1] *2, temp[-2]*2

(4, 2)

In [35]:
temp = [1]
temp[-2:]

[1]

In [26]:
2 * (-1)

-2

In [70]:
a = '1D2S#10S'

In [76]:
temp = []
n=''
for i in a:
    if i.isdigit():
        n += i
    if i.isalpha():
        if i=='S':
            temp.append(int(n))
            n=''
        if i=='D':
            temp.append(int(n)**2)
            n=''
        if i=='T':            
            temp.append(int(n)**3)
            n=''
    if i == '#':
        temp[-1] = temp[-1] * (-1)
    if i =='*':
        if len(temp[-2:]) < 2:
            temp[-1] = temp[-1] *2
        else:
            temp[-1] = temp[-1] *2
            temp[-2] = temp[-2] *2

In [77]:
temp

[1, -2, 10]

In [49]:
4+16+3

23

In [51]:
ss = '1D2S#10S'
# 1, 2, 10 만 뺴야됨

In [79]:
bonus = {'S' : 1, 'D' : 2, 'T' : 3}
option = {'' : 1, '*' : 2, '#' : -1}
p = re.compile('(\d+)([SDT])([*#]?)')
dart = p.findall(ss)

In [80]:
dart

[('1', 'D', ''), ('2', 'S', '#'), ('10', 'S', '')]

In [ ]:
1 D 2 S # 1 0 S